.box {
  width: 100%;
  height: 100%;
}
.header {
  height: 5%;
  background-color: rgb(59, 166, 247);
  // border-bottom: solid rgb(164, 155, 155) 2px;
  display: flex;
  align-items: center;
  //justify-content: center;
}
.editor {
  width: 100%;
  height: 100%;
  display: flex;
  &-left,
  &-right {
    //position: absolute;
    // width: 20%;
    // background-color: red;
    top: 0;
    bottom: 0;
  }
  &-left {
    // left: 0;
    //border-right: 3px solid rgb(160, 159, 159);
    overflow: auto;

    &-item {
      box-sizing: border-box;
      width: 200px;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(185, 177, 177);
      padding: 20px;
      cursor: grab;
      user-select: none;
      min-height: 90px;
      position: relative;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(7, 194, 251);
        color: white;
        padding: 2px;
      }
      &::after {
        //遮盖层，起到仅展示作用
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: azure;
        opacity: 0.2;
      }
    }
  }
  &-right {
    // flex: 1;
    // right: 0;
    // border-left: 3px solid rgb(160, 159, 159);
    display: flex;
    justify-content: center;
  }
  &-top {
    //position: absolute;
    //right: 280px;
    //left: 280px;
    height: 80px;
    background-color: rgb(146, 146, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    &-button {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: black;
      color: white;
      & + & {
        margin-left: 3px;
      }
      :hover {
        cursor: pointer;
      }
    }
  }
  &-container {
    //padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;
    &-canvas {
      overflow: auto;
      height: 100%;
      &__content {
        margin: 20px auto;
        width: 550px;
        height: 550px;
        background: rgb(159, 159, 150);
        position: relative;
      }
    }
  }
}
.editor-center {
  width: calc(100% - 608px);
  height: 100%;
}
.editor-block {
  position: absolute;
  &::after {
    //遮盖层，起到仅展示作用
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.editor-block-focus {
  &::after {
    border: 2px dashed red;
  }
}
.editor-block-preview {
  &::after {
    display: none;
  }
}
.head-img {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-color: #fff;
  padding: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 50%;
  img {
    display: block;
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}
.font {
  position: absolute;
  left: 40px;
  margin-left: 1.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  background-image: -webkit-linear-gradient(
    left,
    #147b96,
    #e6d205 25%,
    #147b96 50%,
    #e6d205 75%,
    #147b96
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: maskedAnimation 4s infinite linear;

  @keyframes maskedAnimation {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -100% 0;
    }
  }
}
.editor-button {
  // flex: 1;
  margin: auto;
  justify-content: center;
  text-align: center;
  display: flex;
}
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed red;
  z-index: 99;
}
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red;
  z-index: 99;
}
.content-preview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.dropdown {
  display: none;
  position: absolute;
  background: white;
  // box-shadow: 2px 2px #ccc;
  z-index: 99;
  border-radius: 20px;
}
.dropdown-isShow {
  display: block;
}
.dropdown-item {
  line-height: 30px;
  width: 100px;
  border-bottom: 2px solid rgb(213, 185, 185);
  text-align: center;
  cursor: pointer;
}
.dropdown-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.dropdown-item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: none;
}
.dropdown-item:hover {
  background-color: antiquewhite;
}
.range {
  display: inline-flex;
  width: 200px;
  input {
    width: 100%;
    border-radius: 5px;
    min-height: 20px;
  }
}
.block-resize {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  z-index: 99;
  border-radius: 30px;
}
.block-resize-top {
  top: -4px;
  left: calc(50% - 4px);
}
.block-resize-left {
  top: calc(50% - 4px);
  left: -4px;
}
.block-resize-right {
  top: calc(50% - 4px);
  right: -4px;
}
.block-resize-bottom {
  bottom: -4px;
  left: calc(50% - 4px);
}
.block-resize-top-left {
  top: -4px;
  left: -4px;
}
.block-resize-top-right {
  top: -4px;
  right: -4px;
}
.block-resize-bottom-left {
  bottom: -4px;
  left: -4px;
}
.block-resize-bottom-right {
  bottom: -4px;
  right: -4px;
}
.el-button,
.el-input {
  transition: none;
}
.x-handle {
  top: 0;
  right: 0;
  z-index: 1;
  width: 4px;
  height: 100%;
  background: transparent;
  cursor: col-resize;
  //color: #e6d205;
  background-color: rgb(59, 166, 247);
}
